/*html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }*/
html, body{
	width: 100%; 
}

.header{
	height:75px;
	background-color: #fff;
	position: relative;
	width: 100%;
}

@media screen and (max-width: 981px){
	.header{
		height: 8.5vw;
	}
}

.header ul{
	padding: 15px 0;
	margin: 8px 0;
	position: relative;
	text-align: center;
}

.header ul li{
	display: inline;
	list-style-type: none;
	color: #00a2ff;
	font-size: 22px;
	margin: 15px 15px;
	padding: 15px 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
}


.header ul a{
	color: #00a2ff;
	padding: 15px;
	border: 2px solid #fff; 
}

.header ul a:hover{
	border: 2px solid #00a2ff; 
	text-decoration: none;
	border-radius: 10px;
}

/*.header ul a:hover{
	text-decoration: none;
}*/

.navMenu{
		display: block;
		width: 5vw;
		float: right;
}

.navMenu hr{
	border-color: #00a2ff;
}

@media screen and (max-width: 981px){
	.navMenu{
		display: block;
		width: 5vw;
	}

	.navMenu hr{
		border-color: #00a2ff;
		margin-top: 2vw;
		margin-bottom: 2vw;
	}

	nav{
		display: none;
	}
}

@media screen and (min-width: 981px){
	.navMenu{
		display: none;
	}

	nav{
		display: block;
	}
}

.topNav{
	background-color: #fff;
}

.topNav ul{
	list-style: none;
	padding-left: 0px;
}

.topNav ul li{
	font-size: 2vw;
	line-height: 5.5vw;
	padding-left: 20px;
	color: #fff;
	background-color:#49bdff; 
}

.topNav a{
	text-decoration: none;
}

.topNav ul{
	margin: 0px;
}

.topNav a li:hover{
	text-decoration: none;
	color: #fff;
	background-color: #76cdff;
}

.well{
	padding: 0px;
	margin: 0px;
	min-height: 0px;
	border: none;
}

@media screen and (min-width: 981px){
	.topNav{
		display: none;
	}
}

.collapse, .well, .topNav{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}






/*.row{
	margin: 0 !important;
}*/

.stamp_div{
	width: 100%;
	margin-top: 30px;
}

#stamp{
	width:80px;
	margin: 10px 0;
	text-align: center;
	margin-left: 50px;
}

@media screen and (max-width: 981px){
	.stamp_div{
		margin-top: 3vw;
	}
	#stamp{
		width:8vw;
		margin: 10px 0;
		text-align: center;
		margin-left: 3vw;
	}
}

.wrapper{
	width: 100%;
	position: relative;
}

.wrapper .main_bg{
	width: 65%;
	margin: auto;
	text-align: center;
	margin-top: -50px;
}


@media screen and (max-width: 981px){
	.wrapper .main_bg{
		margin-top: -10vw;
	}
}

.welcome{
	color: #fff;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: italic;
	line-height: 100px;
}

.name{
	color: #fff;
	font-size: 7vw;
	font-family: 'Impact', sans-serif;
	width: 100%;
	font-weight: 700;
	font-style: bold;
	line-height: 100px;
	letter-spacing: 4px;
}

@media screen and (max-width: 981px){
	.welcome{
		font-size: 5vw;
		line-height: 10vw;
	}
	.name{
		font-size: 6vw;
		line-height: 9vw;
	}
}

.bg_img{
	height: 153px;
}

#bj_img{
	width:30%; 
	float:left;
}

#ny_img{
	width:30%; 
	float:right;
}

.footer{
	background-color: #00a2ff;
	clear: both;
	position: relative;
	z-index: 10;
	margin-top: 0em;
}

#corner_1{
	width: 70px;
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    float: left;
}

#corner_2{
	width: 70px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    left: 0;
}

#corner_3{
	width: 70px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    bottom: 0;
    right: 0;
}

#corner_4{
	width: 70px;
	float: right;
}

.social .text{
	color:white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;
	font-style: italic;
}

.contact{
	color:white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;
	font-style: italic;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,0.4);
}

.resume{
	text-align: center;
}

.resume .text{
	color:white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;
	font-style: italic;
	line-height: 80px;
}

.icons{
	line-height: 100px;
}

.contact .icons{
	line-height: 60px;
}

#facebook, #linkedin, #googleplus, #wechat{
	height: 38px;
	width: 38px;
	margin: 10px;
	border-radius: 19px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

#pdf{
	height: 38px;
	width: 38px;
	margin: 10px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

#facebook:hover, #linkedin:hover, #googleplus:hover, #wechat:hover, #pdf:hover{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

#email, #cell{
	width: 30px;
}

/*微信*/
#blackOverlay{
	background:#000;
	height: 100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	display:none;
	z-index: 999;
	opacity: 0.3;
}
#modalContent{
	background:rgba(0,0,0,0.8);
	height: 400px;
	width: 400px;
	position:fixed;
	display:none;
	z-index: 1000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 30px;
}

.qrcode{
	width: 60%;
	margin:0 auto;
}

#qrcode{
	width: 100%;
}

.qr-text{
	width: 90%;
	text-align: center;
	margin: 20px auto;
	color: #fff;
	font-size: 25px;
}

.social{
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

.cell{
	margin-bottom: 50px;
}

.copyright{
	color:white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;
	font-style: italic;
	text-align: center;
	line-height: 60px;
}

@media screen and (max-width: 981px){
	#corner_1, #corner_2, #corner_3, #corner_4{
		width: 7vw;
	}

	#corner_2{
		position: absolute;
		left: 0;
		bottom: 0;
	}

	#corner_3{
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.footer .copyright{
		line-height: 6vw;
		font-size: 1.5vw;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.text{
		font-size: 2.5vw;
	}

	.social{
		margin-bottom: 3vw;
		margin-top: 4vw;
	}

	.social .text{
		font-size: 2.5vw;
	}

	.resume .text{
		font-size: 2.5vw;
	}

	.social .icons{
		line-height: 16vw;
	}

	#facebook, #linkedin, #googleplus, #wechat{
		width: 5.6vw;
		height: 5.6vw;
		border-radius: 2.8vw;
		margin: 1.2vw;
	}

	#pdf{
		width: 5.6vw;
		height: 5.6vw;
		margin: 1.2vw;
	}

	#email, #cell{
		width: 5vw;
	}

	.contact .icons{
		line-height: 8vw;
	}

	.cell{
		margin-bottom: 7vw;
	}

	.resume{
		top: -4vw;
	}

	.resume .icons{
		line-height: 16vw;
	}

	.resume .text{
		line-height: 8vw;
	}
}

.content {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    color: #004563;
    height: 40px;
}

@media screen and (max-width: 981px){
	.content{
		font-size: 3vw;
		line-height: 4vw;
	}
}

.visible {
    float: left;
    font-weight: 600;
    overflow: hidden;
    height: 100px;
    width: 100%;
}

.content ul {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    padding: 0;
    animation: 8s linear 0s normal none infinite change;
    -webkit-animation: 8s linear 0s normal none infinite change;
    -moz-animation: 8s linear 0s normal none infinite change;
    -o-animation: 8s linear 0s normal none infinite change;
}
.content ul li {
    line-height: 100px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-style: italic;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes change {
    0% {
        margin-top: 0;
    }
    15% {
        margin-top: 0;
    }
    25% {
        margin-top: -100px;
    }
    40% {
        margin-top: -100px;
    }
    50% {
        margin-top: -200px;
    }
    65% {
        margin-top: -200px;
    }
    75% {
        margin-top: 0px;
    }
    85% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0;
    }
}
@keyframes change {
    0% {
        margin-top: 0;
    }
    15% {
        margin-top: 0;
    }
    25% {
        margin-top: -100px;
    }
    40% {
        margin-top: -100px;
    }
    50% {
        margin-top: -200px;
    }
    65% {
        margin-top: -200px;
    }
    75% {
        margin-top: 0px;
    }
    85% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0;
    }
}

.home {
	background-image: url(../img/bghome.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 550px;
    width: 100%;
}

@media screen and (max-width: 981px){
	.home{
		height: 50vw;
	}
}

/*我的技能*/
.skills{
	padding-top: 50px;
}

.skills h2{
	text-align: center;
	color: #00a2ff;
	margin-top: 0px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 700;
}

.skills h5{
	text-align: center;
	color: #00a2ff;
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 400;
}

svg{
	display: block;
	margin: 0 auto;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font-size: 17px;
  font-weight: 400;
  border-color: white;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


/*项目经历*/
.main{
background-color: #d0eeff;
} 

.projects{
	padding-bottom: 50px;
}

.projects h2{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #00a2ff;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 700;
}

@media screen and (max-width: 981px){
	.projects{
		padding-bottom: 5vw;
	}

	.skills{
		padding-top: 5vw;
	}

	.projects h2{
		margin-top: 10vw;
		margin-bottom: 10vw;
		font-size: 5vw;
	}

	.skills h2{
		font-size: 5vw;
	}

	.skills h5{
		font-size: 2vw;
	}
}

.project_wrapper{
	width: 100%;
	margin-top: 0px;
}

.inner_project{
	margin: 50px;
	border-radius: 10px;
	text-align: center;
}

.project_list{
	width: 72%;
	margin: 0 auto;
	margin-bottom: 50px;
}

@media screen and (min-width: 981px){
	.line{
		width: 40%;
	}

	.project-name{
		font-weight: 700;
		font-size: 20px;
	}

	.project-class{
		font-weight: 400;
		font-style: italic;
		font-size: 16px;
	}

	#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8{
		padding-bottom: 0px;
	}

	.item{
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		position:relative;
	}

	.item:hover #item1-overlay, .item:hover #item2-overlay, .item:hover #item3-overlay,
	.item:hover #item4-overlay, .item:hover #item5-overlay, .item:hover #item6-overlay,
	.item:hover #item7-overlay, .item:hover #item8-overlay

	{
	    -webkit-transform: scale(0.9);
	}

	#item1-overlay, #item2-overlay,
	#item3-overlay, #item4-overlay,
	#item5-overlay, #item6-overlay,
	#item7-overlay, #item8-overlay {
		position: absolute;
		top: 0px;
		z-index: 100000;
		width: 100%;
		height: 200px;
		padding-top: 2vw;
		color:white;
		font-family:sans-serif;
		font-size:20px;
		font-weight:bold;
		text-align:center;
		transition: all 0.35s ease-in-out;
		-webkit-transform: scale(0);
		border-radius: 0;
	}



	#item1-overlay {
		background: rgba(255,130,130,.85);
	}

	#item2-overlay {
		background: rgba(140,140,140,.85);
	}

	#item3-overlay {
		background: rgba(233,116,232,.85);
	}

	#item4-overlay {
		background: rgba(243,212,37,.85);
	}

	#item5-overlay {
		background: rgba(105,186,80,.85);
	}

	#item6-overlay {
		background: rgba(132,134,128,.85);
	}

	#item7-overlay {
		background: rgba(2,176,249,.85);
	}

	#item8-overlay {
		background: rgba(254,80,4,.85);
	}
}

@media screen and (max-width: 981px){
	.line{
		width: 40%;
	}

	.project-name{
		font-weight: 700;
		font-size: 2.5vw;
	}

	.project-class{
		font-weight: 400;
		font-style: italic;
		font-size: 2vw;
	}

	#item1-overlay hr, #item2-overlay hr,
	#item3-overlay hr, #item4-overlay hr,
	#item5-overlay hr, #item6-overlay hr,
	#item7-overlay hr, #item8-overlay hr{
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

	#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8{
		width: 100%;
	}

	.item{
		width: 50%;
		margin: 0 auto;
		position:relative;
		text-align: center;
	}

	.item:hover #item1-overlay, .item:hover #item2-overlay, .item:hover #item3-overlay,
	.item:hover #item4-overlay, .item:hover #item5-overlay, .item:hover #item6-overlay,
	.item:hover #item7-overlay, .item:hover #item8-overlay

	{
	    -webkit-transform: scale(0.9);
	}

	#item1-overlay, #item2-overlay,
	#item3-overlay, #item4-overlay,
	#item5-overlay, #item6-overlay,
	#item7-overlay, #item8-overlay {
		position: absolute;
		top: 0px;
		z-index: 100000;
		width: 100%;
		height: 100%;
		color:white;
		padding-top: 2.5vw;
		font-family:sans-serif;
		font-weight:bold;
		text-align:center;
		transition: all 0.35s ease-in-out;
		-webkit-transform: scale(0);
		border-radius: 0;
	}

	#item1-overlay {
		background: rgba(255,130,130,.85);
	}

	#item2-overlay {
		background: rgba(140,140,140,.85);
	}

	#item3-overlay {
		background: rgba(233,116,232,.85);
	}

	#item4-overlay {
		background: rgba(243,212,37,.85);
	}

	#item5-overlay {
		background: rgba(105,186,80,.85);
	}

	#item6-overlay {
		background: rgba(132,134,128,.85);
	}

	#item7-overlay {
		background: rgba(2,176,249,.85);
	}

	#item8-overlay {
		background: rgba(254,80,4,.85);
	}
}



@media screen and (min-width: 980px){
	.project_list{
		display: block;
	}

	.sm_project_list{
		display: none;
	}
}

@media screen and (max-width: 980px){
	.project_list{
		display: none;
	}

	.sm_project_list{
		display: block;
		margin-bottom: 5vw;
	}
}

















