<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8"> 
<title>Data Visualization</title>
<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/Grid.css">
<script type="text/javascript" src="js/angular.min.js" ></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/app.js"></script>

</head>

<body ng-controller="myCtrl">
  <div class="container">
    <div class="row">
      <div class="col-10 col-offset-1">
        <div class="header">
          <h1>创投行业关系及布局分析</h1>
        </div>
      </div>
    </div>
    <section>
      <div class="row">
        
        <div class="col-6" id="bubbles">
          <input id="threshold" type="range" min="20" max="250" step="30" ng-model="threshold"  ng-change="update()">
        </div>
        <div class="col-6" id="firms">
          <div ng-if="!flag">
            <img src="img/1.jpg" alt="">
          </div>
          <div ng-if="flag">
        	<ul class="firmTitle" ng-if="combinations">
        		<li>
          		<strong>
          		<span>被投公司</span>
          		<span>投资时间</span>
          		<span>投资轮次</span>
          		<span>投资领域</span>
          		<span>投资金额</span>
          		</strong>
          	</li>
        	</ul>
          <ul class="firmList">
          	<li ng-repeat="combination in combinations">
          		<span>{{combination.title}}</span>
          		<span>{{combination.date}}</span>
          		<span>{{combination.round}}</span>
          		<span>{{combination.domain}}</span>
          		<span>{{combination.amount}}</span>
          	</li>
          </ul>
          </div>
        </div>

      </div>
    </section>


    <section>
      <div class="row">
        <div class="col-12">
          <select name="domainSelect" id="domainSelect"  ng-model="selectDomain" ng-change="updateCombination()">
            <option value="all">All</option>
            <option ng-repeat="option in selectOption" value="{{option.name}}">{{option.name}}</option>
          </select>

        </div>
        <div class="col-12">
            <h1 id="selection">{{selectDomain}}</h1>
            <div id="lineChart">
              <svg id="lineVisu" width="1000" height="400"></svg>
            </div>
        </div>
        </div>
        <div class="col-12">
          <div id="barChart">
            <svg id="barVisu" width="1000" height="400"></svg>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>

</html>